@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-primary: hsl(210 22% 22%);
  --color-dark-secondary: hsl(205 25% 17%);
  --color-light-text: hsl(200, 15%, 8%);
  --color-light-input: hsl(0, 0%, 52%);
  --color-light-background: hsl(0, 0%, 98%);
  --color-light-elements: hsl(0, 0%, 100%);
}
